:root {
    --primary-color: darkblue;
    --secondary-color: rgb(194, 194, 194);
    --tertiary-color: black;
    --quaternary-color: white;
    --border: 1px solid var(--secondary-color);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--quaternary-color);
    display: block;
    padding: 20px;
}

h1{
    color: var(--primary-color);
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px var(--secondary-color);
}

p{
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 0;
    padding: 50px;
    background-color: var(--secondary-color);
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;

}


footer {
    margin-top: 100px;
    border-top: var(--border);
    text-align: center;
}