* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: rgb(194, 194, 194);
    --tertiary-color: black;
    --quaternary-color: white;
    --border: 1px solid var(--secondary-color);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--quaternary-color);
    display: block;
    padding: 20px;
}

h1{
    color: var(--primary-color);
}

h2 {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 15px;
    
     /* top: 47px;
     left: 150px; */


}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    float: right;

    padding: 2px;
    box-shadow: 0 0 30px var(--secondary-color);
}

p{
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;

}


footer {
    margin-top: 100px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--border);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}